body {
	font-family: 'Lora', serif;
}

h1, header, footer {
	text-align: center;
}
.container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

.sidebar {
    float: left;
    width: 30%;
}

.content {
    float: right;
    width: 70%;
}   